@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

:root {
    --black: #1A140E;
    --yellow: #FFBF09;
    --white: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
section {
    height: 100vh;
    background-image: url("../images/fundoLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    height: 560px;
    width: 445px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
#login {
    color: var(--white);
    padding: 30px;
    font-weight: 700;
    font-size: 40px;
}
#input {
    height: 420px;
}
.input {
    padding: 10px 0;
}
.input p {
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    padding: 20px;
}
.input input {
    padding: 5px 20px;
    border: none;
    width: 330px;
    height: 35px;
    background: var(--white);
    border-radius: 30px;
}
#buttom {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 370px;
}
#buttom button {
    cursor: pointer;
    margin: 20px 0;
    background: var(--yellow);
    color: var(--black);
    width: 175px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    border: 3px solid var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#buttom button[disabled] {
    cursor: auto;
    opacity: .5;
    background: transparent;
    border: 3px solid var(--yellow);
    color: var(--yellow);
}
#textoCad {
    margin: 20px 0;
    color: var(--yellow);
    width: 322.06px;
    height: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-start;
}
#textoCad a {
    color: var(--yellow);
}
#textoCad a:hover {
    text-decoration: underline;
}

#redefinir a {
    margin: 0 10px;
    font-size: 10pt;
    font-weight: 700;
    color: var(--yellow);
}